.App {
  text-align: center;
}

@media only screen and (max-width: 1530px){
	html body{
		#main_container{
			padding-right: 70px;
		}
	}
}


#main_container{
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 15px;
	margin-bottom: 10px;
	max-width: var(--ccontent_max_width);
	width: auto;
	min-height: 845px;
}

